<div class="navbar bg-base-100 border-2 border-base-300 my-4 w-[90%] mx-auto sticky top-0 z-50 brutal-shadow shadow-primary">
  <div class="container mx-auto flex">
  <div class="navbar-start">
    <a class="btn btn-ghost text-2xl">
      <img src="/logo.svg" alt="Logo" class="w-10" /> RN Neo
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">

  </div>
  <div class="navbar-end hidden xs:flex">
    <a class="btn" href="https://github.com/gs-rumana/rn-neo">GitHub <i class="ri-arrow-right-up-line"></i></a>
  </div>
</div>
</div>
